body{
	    margin-bottom: 30px;
}
h2{
	text-align: center;
	font-size: 50px;
}

.container{
	/*margin-left: 609px;
	padding: 30px;*/
	display: flex;
	justify-content: center;
	
}

.table{
	margin-left: 272px;
    margin-top: 42px;
	/*margin: 42px 0px 20px 332px;*/
}
table, th, td{
	border: 1px solid black;
	/*padding: 15px 30px;*/
    font-size: 30px;
	text-align: center;
	
}

table{
	border: 1px solid black;
	border-collapse: collapse;
	width: 80%;
}

.lableName {
    margin: 10px 10px 0px 10px;
    padding: 5px;
    font-size: 26px;
    display: flex;
}

label{
	width:40%;
}

form [type]{
	/*width: 70%;*/
	font-size: 26px;
	
}

input,select{
	width: 500px;
	border-radius: 10px;
}

#btn{
    margin-left: 160px;
    margin-top: 14px;
}

.button{

	font-size: 30px;
	padding: 5px 30px;
	margin: 22px 15px;
	background-color: #04AA6D;
	color: white;
	border-radius: 15px;
}

.button:hover{
	background-color: #333333;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
	transition: 0.5s;
  }

.center{
	margin-left: 70px;
}

#inputNumber{
	float: left;
	margin-left: 20px;
}

#inputName{
	float: left;
	margin-left: 20px;
}

#inputDate{
	float: left;
	margin-left: 20px;
}

#selectData{
	float: left;
	margin-left: 20px;
}

.ed{
	font-size: 20px;
	padding: 2px 20px;
	margin: 10px 15px;
	background-color: #000099;
	color: white;
	border-radius: 15px;
}
.er{
	font-size: 20px;
	padding: 2px 10px;
	margin: 10px 0px;
	background-color: #e60000;
	color: white;
	border-radius: 15px;
}

.ed:hover{
	background-color: #0080ff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
	transition: 0.5s;
}
.er:hover{
	background-color: #ff5c33;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
	transition: 0.5s;
}
span {
    color:red;
    /* display: flex; */
    justify-content: center;
    margin-left: 287px;
    font-size: 17px;
}